body {
  background-color: #f9f9f9;
  width: 1060px;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.main {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  height: 1000px;
}

a {
  text-decoration: none;
}

/*Логотип*/
.logo {
  display: inline-block;
  margin-top: 47px;
  margin-bottom: 47px;
  margin-left: 47px;
}

/*Верхнее меню*/
.top-menu {
  width: 966px;
  height: 40px;
  padding-left: 10px;
  background: -webkit-linear-gradient(90deg, #444343 0%, #5e5e5e 100%);
  font-size: 15px;
  margin: auto;
}

.top-menu a {
  display: inline-block;
  padding: 11px 45px;
  text-decoration: none;
  color: white;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}

.top-menu a:hover {
  background-color: #333333;
  color: white;
  border-right: 1px solid #bbb;
  border-left: 1px solid #bbb;
}

/*Боковое меню*/
.left-menu {
  display: inline-block;
  vertical-align: top;
  margin-top: 47px;
  margin-left: 45px;
  width: 240px;
  height: 240px;
}

.left-menu a {
  display: block;
  text-decoration: none;
  text-indent: 25px;
  line-height: 39px;
  color: black;
  border-top: 1px solid #c8c8c8;
  border-left: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;
}

.left-menu a:last-of-type {
  border-bottom: 1px solid #c8c8c8;
}

.left-menu a:hover {
  background-color: #f9f9f9;
  color: black;
  text-indent: 30px;
  font-weight: bold;
}
/*Основной контент*/
.content {
  display: inline-block;
  vertical-align: top;
  width: 678px;
}

.content img  {
  margin-top: 47px;
  margin-left: 46px;
  padding: 47px 89px;
  border: 1px solid #c8c8c8;
}

.content p {
  margin-left: 75px;
}

/*Нижнее меню*/
.bottom-menu {
  width: 966px;
  height: 40px;
  background: #e1e1e1;
  margin: auto;
  margin-top: 70px;
}

.bottom-menu a {
  display: inline-block;
  padding: 10px 40px;
  color: black;
}

.bottom-menu a:hover {
  text-decoration: underline;
}

.bottom-menu a:last-of-type {
  margin-left: 165px;
}

.bottom-menu a:hover:last-of-type {
  text-decoration: none;
}
