body {
  background-color: #f9f9f9;
}

.container {
  background-color: #ffffff;
  width: 1060px;
  /*height: 100vh;*/
  margin: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.logo {
  margin-left: 47px;
  margin-top: 47px;
}

header {
  width: 966px;
  height: 40px;
  background: -webkit-linear-gradient(90deg, #444343 0%, #5e5e5e 100%);
  margin: 47px;
}

ul {
  list-style-type: none;
}

.top-menu li {
  float: left;
}

.top-menu li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px 40px;
  text-decoration: none;

}

footer {
  width: 966px;
  height: 40px;
  background: #e1e1e1;
  margin: 47px;
}

.footer-menu li {
  float: left;
}

.footer-menu li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

.description {
  width: 625px;
  height: 141px;
  font-family: OpenSans;
  font-weight: 400;
  line-height: 21.333px;
  text-align: left;
}

.main {
  margin-left: 47px;
  align-content: center;

}

.bicycle {
  padding: 46px 89px 46px 89px;
  border: 1px solid #c8c8c8;
}

.main p {
  text-align: left;
}
